<style>
    /* Make Education cards more compact */
    #education .card .card-body {
        padding: 0.75rem !important;
    }

    @media all and (max-width:768px) {
        #education .card .card-body {
            padding: 0.75rem !important;
        }
    }

    /* Make Certification/Achievement cards more compact */
    #achievements .card {
        padding: 0 !important;
    }

    #achievements .card-body {
        padding: .75rem !important;
    }

    #achievements .my-3 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    /* Widen About Me skills list */
    #about ul {
        grid-template-columns: 1fr 1fr !important;
        gap: 10px 30px !important;
    }
</style>